* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: transparent; */
}

#app {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 50px; 
  overflow-y: scroll;
}